version: "3.9"

services:
  api:
    build: .
    container_name: chainlogic-api
<<<<<<< HEAD
   
=======
    
>>>>>>> 196199d93c0092ff76b4f8f195781e5665b075ff
    volumes:
      - ./data:/app/data
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: chainlogic-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    restart: unless-stopped
